/*
   14 października 201220:45:52
   User: 
   Server: GRZESIEKPC
   Database: Greg.Homer
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TDC_USER_STATUS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TD_USER
	(
	TD_USER_ID int NOT NULL IDENTITY (1, 1),
	TDC_USER_STATUS_ID int NOT NULL,
	NAME varchar(50) NULL,
	SURNAME varchar(50) NULL,
	EMAIL varchar(50) NULL,
	LOGIN varchar(50) NOT NULL,
	PASSWORD varchar(100) NOT NULL,
	IS_ACTIVE bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TD_USER ADD CONSTRAINT
	PK_TD_USER PRIMARY KEY CLUSTERED 
	(
	TD_USER_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TD_USER ADD CONSTRAINT
	IX_TD_USER UNIQUE NONCLUSTERED 
	(
	LOGIN
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TD_USER ADD CONSTRAINT
	FK_TD_USER_TDC_USER_STATUS FOREIGN KEY
	(
	TDC_USER_STATUS_ID
	) REFERENCES dbo.TDC_USER_STATUS
	(
	TDC_USER_STATUS_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TD_USER SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
