/*
   14 października 201220:49:01
   User: 
   Server: GRZESIEKPC
   Database: Greg.Homer
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TD_APPLICATION
	(
	TD_APPLICATION_ID int NOT NULL IDENTITY (1, 1),
	NAME varchar(100) NOT NULL,
	DESCRIPTION varchar(500) NULL,
	IS_ACTIVE bit NOT NULL,
	GUID uniqueidentifier NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TD_APPLICATION ADD CONSTRAINT
	PK_TD_APPLICATION PRIMARY KEY CLUSTERED 
	(
	TD_APPLICATION_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TD_APPLICATION SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
