/*
   14 października 201221:06:13
   User: 
   Server: GRZESIEKPC
   Database: Greg.Homer
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TD_ROLE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TD_USER SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.TC_USER_ROLE
	(
	TC_USER_ROLE_ID int NOT NULL IDENTITY (1, 1),
	TD_USER_ID int NOT NULL,
	TD_ROLE_ID int NOT NULL,
	IS_ACTIVE bit NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.TC_USER_ROLE ADD CONSTRAINT
	PK_TC_USER_ROLE PRIMARY KEY CLUSTERED 
	(
	TC_USER_ROLE_ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.TC_USER_ROLE ADD CONSTRAINT
	FK_TC_USER_ROLE_TD_USER FOREIGN KEY
	(
	TD_USER_ID
	) REFERENCES dbo.TD_USER
	(
	TD_USER_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TC_USER_ROLE ADD CONSTRAINT
	FK_TC_USER_ROLE_TD_ROLE FOREIGN KEY
	(
	TD_ROLE_ID
	) REFERENCES dbo.TD_ROLE
	(
	TD_ROLE_ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.TC_USER_ROLE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
